.dialog{
    padding-top: 20px;
    overflow-x: hidden;
}
.dialog input {
    width: 100%;
    border: 1px solid rgb(0, 174, 255);
    outline: none;
}
.buttons  {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.buttons button:first-child {
    background-color: #0084ff;
    color: white;
    border: none;
    cursor: pointer;
}
.buttons button:last-child {
    background-color: #ffffff;
    color: rgb(30, 107, 251);
    border: none;
    cursor: pointer;
    border: 1px solid rgb(25, 146, 244);
}
