
.container {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
 .add {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.tasks{
  width: 100%;
  display: flex;
  justify-content: space-between;
   align-items: center;
   height: 50px;
}
.texts{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.actions{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}